header {
font-family: 'Courier New', Courier, monospace;
text-align: center;
background-color: midnightblue;
color: white;
}


nav {
    text-align: center;
    background-color: midnightblue;
}
